#################################
#                               #
#   ██╗███╗   ██╗██╗████████╗   #
#   ██║████╗  ██║██║╚══██╔══╝   #
#   ██║██╔██╗ ██║██║   ██║      #
#   ██║██║╚██╗██║██║   ██║      #
#   ██║██║ ╚████║██║   ██║      #
#   ╚═╝╚═╝  ╚═══╝╚═╝   ╚═╝      #
#                               #
#################################

# Load Homebrew if on MacOS
if [[ $(uname) == "Darwin" ]]; then
  eval "$(/opt/homebrew/bin/brew shellenv)"
fi

fastfetch

export ANTIDOTE_PATH=$HOMEBREW_PREFIX/opt/antidote/share/antidote/antidote.zsh
if [[ -f /etc/arch-release ]]; then
  # On Arch, installed via AUR
  export ANTIDOTE_PATH=/usr/share/zsh-antidote/antidote.zsh
fi

if [[ -n $SSH_CONNECTION ]]; then
  export EDITOR='vim'
else
  export EDITOR='nvim'
fi

zsh_plugins=${ZDOTDIR:-$HOME}/.zsh_plugins
if [[ ! ${zsh_plugins}.zsh -nt ${zsh_plugins}.txt ]]; then
  (
    source ${ANTIDOTE_PATH}
    antidote bundle <${zsh_plugins}.txt >${zsh_plugins}.zsh
  )
fi
source ${zsh_plugins}.zsh

# Add bindings for history substring search
bindkey '^[[A' history-substring-search-up # or '\eOA'
bindkey '^[[B' history-substring-search-down # or '\eOB'
HISTORY_SUBSTRING_SEARCH_ENSURE_UNIQUE=1

eval "$(zoxide init zsh)"

setopt autocd

########################################
#                                      #
#    █████╗ ██████╗  ██████╗██╗  ██╗   #
#   ██╔══██╗██╔══██╗██╔════╝██║  ██║   #
#   ███████║██████╔╝██║     ███████║   #
#   ██╔══██║██╔══██╗██║     ██╔══██║   #
#   ██║  ██║██║  ██║╚██████╗██║  ██║   #
#   ╚═╝  ╚═╝╚═╝  ╚═╝ ╚═════╝╚═╝  ╚═╝   #
#                                      #
########################################

# Only run these if on Arch Linux
if [[ -f /etc/arch-release ]]; then
  function pacman_browser() {
    cmd='(pacman -Qii {}; echo "Dependency tree"; pactree -r {})'
    pacman -Q --quiet | fzf --preview "$cmd"
  }
  alias pacb=pacman_browser

  export HYPRLAND_CONFIG_LOC=~/.config/hypr
  export HYPRLAND_CONFIG_CUSTOM_LOC=~/.config/hypr/custom

  # Reapply colors
  if [[ -f ~/.config/zshrc.d/dots-hyprland.zsh ]]; then
    source ~/.config/zshrc.d/dots-hyprland.zsh
  fi

  export IDRIVEPATH=/opt/IDriveForLinux/bin

  alias idrive="cd $IDRIVEPATH && ./idrive && cd -"
fi

#########################################################
#                                                       #
#     ██████╗ ██████╗ ███╗   ██╗███████╗██╗ ██████╗     #
#    ██╔════╝██╔═══██╗████╗  ██║██╔════╝██║██╔════╝     #
#    ██║     ██║   ██║██╔██╗ ██║█████╗  ██║██║  ███╗    #
#    ██║     ██║   ██║██║╚██╗██║██╔══╝  ██║██║   ██║    #
#    ╚██████╗╚██████╔╝██║ ╚████║██║     ██║╚██████╔╝    #
#     ╚═════╝ ╚═════╝ ╚═╝  ╚═══╝╚═╝     ╚═╝ ╚═════╝     #
#                                                       #
#########################################################

export KARAB_CONFIG=~/.config/karabiner

export NVIM_CONF=~/.config/nvim

export SCRIPTS=~/.local/bin

export DOTFILES=~/.dotfiles

# Oh-my-posh config
if [ $TERM_PROGRAM != "Apple_Terminal" ]; then
  eval "$(oh-my-posh init zsh --config $DOTFILES/.config/ohmyposh/config.toml)"
fi

###################################
#                                 #
#    ██████╗ ███████╗██╗   ██╗    #
#    ██╔══██╗██╔════╝██║   ██║    #
#    ██║  ██║█████╗  ██║   ██║    #
#    ██║  ██║██╔══╝  ╚██╗ ██╔╝    #
#    ██████╔╝███████╗ ╚████╔╝     #
#    ╚═════╝ ╚══════╝  ╚═══╝      #
#                                 #
###################################

export PATH="$HOME/.local/bin:$PATH"

export PYENV_ROOT="$HOME/.pyenv"
# Set the default "python" version to the one set by pyenv
[[ -d $PYENV_ROOT/bin ]] && export PATH="$PYENV_ROOT/bin:$PATH"
eval "$(pyenv init -)"
export PATH=$(pyenv root)/shims:$PATH

export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && . "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && . "$NVM_DIR/bash_completion"  # This loads nvm bash_completion

############################################################
#                                                          #
#    ███╗   ██╗███████╗ ██████╗ ██╗   ██╗██╗███╗   ███╗    #
#    ████╗  ██║██╔════╝██╔═══██╗██║   ██║██║████╗ ████║    #
#    ██╔██╗ ██║█████╗  ██║   ██║██║   ██║██║██╔████╔██║    #
#    ██║╚██╗██║██╔══╝  ██║   ██║╚██╗ ██╔╝██║██║╚██╔╝██║    #
#    ██║ ╚████║███████╗╚██████╔╝ ╚████╔╝ ██║██║ ╚═╝ ██║    #
#    ╚═╝  ╚═══╝╚══════╝ ╚═════╝   ╚═══╝  ╚═╝╚═╝     ╚═╝    #
#                                                          #
############################################################

# Only set the alias if on MacOS
if [[ $(uname) == "Darwin" ]]; then
  alias nvim="~/.local/bin/nvim_launcher"
fi

#############################################
#                                           #
#     █████╗ ██╗     ██╗ █████╗ ███████╗    #
#    ██╔══██╗██║     ██║██╔══██╗██╔════╝    #
#    ███████║██║     ██║███████║███████╗    #
#    ██╔══██║██║     ██║██╔══██║╚════██║    #
#    ██║  ██║███████╗██║██║  ██║███████║    #
#    ╚═╝  ╚═╝╚══════╝╚═╝╚═╝  ╚═╝╚══════╝    #
#                                           #
#############################################

alias f=fastfetch
alias vim=nvim
alias v=nvim

#######################################################################################
#                                                                                     #
#     █████╗ ██╗   ██╗████████╗ ██████╗ ███████╗████████╗ █████╗ ██████╗ ████████╗    #
#    ██╔══██╗██║   ██║╚══██╔══╝██╔═══██╗██╔════╝╚══██╔══╝██╔══██╗██╔══██╗╚══██╔══╝    #
#    ███████║██║   ██║   ██║   ██║   ██║███████╗   ██║   ███████║██████╔╝   ██║       #
#    ██╔══██║██║   ██║   ██║   ██║   ██║╚════██║   ██║   ██╔══██║██╔══██╗   ██║       #
#    ██║  ██║╚██████╔╝   ██║   ╚██████╔╝███████║   ██║   ██║  ██║██║  ██║   ██║       #
#    ╚═╝  ╚═╝ ╚═════╝    ╚═╝    ╚═════╝ ╚══════╝   ╚═╝   ╚═╝  ╚═╝╚═╝  ╚═╝   ╚═╝       #
#                                                                                     #
#######################################################################################

# Only start Hyprland auto script if on Arch Linux
if [[ -f /etc/arch-release ]]; then
  source ~/.config/zshrc.d/auto-Hypr.sh
fi

####################################
#                                  #
#    ███████╗███╗   ██╗██████╗     #
#    ██╔════╝████╗  ██║██╔══██╗    #
#    █████╗  ██╔██╗ ██║██║  ██║    #
#    ██╔══╝  ██║╚██╗██║██║  ██║    #
#    ███████╗██║ ╚████║██████╔╝    #
#    ╚══════╝╚═╝  ╚═══╝╚═════╝     #
#                                  #
####################################
